@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Recursive&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*
{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    padding: 0 100px;
    min-height: 100vh;
}
.container:before{
    content: '{.Dev}';
    position: absolute;
    bottom: 0;
    left: 100;
    font-size: 18vW;
    z-index: -2;
    font-weight: 700;
    color: 000;
    opacity: 0.1;
}
.container:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #333;
    z-index: -2;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

header ul{
    position: relative;
    display: flex;
    
}
header ul li{
    list-style: none;
    margin: 0 20px;
}
header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 22px;
    padding: 4px 10px;
    color: #333;
}
header ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to bottom  right,#FFFFAA, #FFC674,#FA7424);
    z-index: -1;
    transition: 0.5s ease-in-out;
}

header ul li:nth-child(3) a,
header ul li:nth-child(4) a{
    color: #fff;
}
header ul li a:hover:before,
header ul li a.active:before{
    width: 40px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .bannerText{
    position: relative;
    max-width: 500px;
    margin-left: 50px;

}
.content .bannerText div{
    display: none;
}
.content .bannerText div.active{
    display: inherit;
}
.content .bannerText h2{
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
    color: rgb(0, 0, 0);;
}

.content .bannerText p{
    font-size: 18px;
    color: rgb(0, 0, 0);;
    line-height: 1.8em;
    margin: 28px 0;
}

.content .bannerText a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

.content .bannerText a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to bottom  right,#FFFFAA, #FFC674,#FA7424);
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.content .bannerText a:hover:before{
    width: 100%;
}
.content .bannerImg{
    position: relative;
    width: 440px;
    height: 440px;
    background: #000;
}
.content .bannerImg img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.content .bannerImg img.active{
    opacity: 1;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px 0;
}
.icons .sci,
.icons .controls
{
    position: relative;
    display: flex;
}
.icons .sci li{
    list-style: none;
    margin-right: 30px;
}
.icons .sci li img{
    display: inline-block;
    max-height: 30px;   
    transition: 0.5s ease-in-out;
}
.icons .sci li img:hover{
    transform: translateY(-10px);
}
.icons .controls li{
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    filter: invert(1);
    transition: 0.5s ease-in-out;
    
}
.icons .controls li:hover{
    opacity: 0.3;
}
.icons .controls li img{ 
    max-height: 40px; 
}

.menuIcon{
    display: none;
}


#foam {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
    background: linear-gradient(#ffffff, #ffffff 5%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0));
}

/*** <--- PARTICLES ---> ***/
.bottom-particles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -5;
}

.bottom-particles .bubble {
    opacity: 0;
    position: absolute;
    bottom: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.bottom-particles .bubble:nth-child(1) {
    left: 88%;
    animation: blow 5000ms infinite;
    animation-delay: 174ms;
}

.bottom-particles .bubble:nth-child(2) {
    left: 90%;
    animation: blow 5000ms infinite;
    animation-delay: 11083ms;
}

.bottom-particles .bubble:nth-child(3) {
    left: 63%;
    animation: blow 5000ms infinite;
    animation-delay: 3746ms;
}

.bottom-particles .bubble:nth-child(4) {
    left: 34%;
    animation: blow 9652ms infinite;
    animation-delay: 130ms;
}

.bottom-particles .bubble:nth-child(5) {
    left: 47%;
    animation: blow 5000ms infinite;
    animation-delay: 4842ms;
}

.bottom-particles .bubble:nth-child(6) {
    left: 70%;
    animation: blow 6638ms infinite;
    animation-delay: 9476ms;
}

.bottom-particles .bubble:nth-child(7) {
    left: 98%;
    animation: blow 13404ms infinite;
    animation-delay: 6142ms;
}

.bottom-particles .bubble:nth-child(8) {
    left: 42%;
    animation: blow 5000ms infinite;
    animation-delay: 7975ms;
}

.bottom-particles .bubble:nth-child(9) {
    left: 44%;
    animation: blow 6019ms infinite;
    animation-delay: 1147ms;
}

.bottom-particles .bubble:nth-child(10) {
    left: 88%;
    animation: blow 5000ms infinite;
    animation-delay: 6057ms;
}

.bottom-particles .bubble:nth-child(11) {
    left: 82%;
    animation: blow 5000ms infinite;
    animation-delay: 10518ms;
}

.bottom-particles .bubble:nth-child(12) {
    left: 99%;
    animation: blow 6048ms infinite;
    animation-delay: 539ms;
}

.bottom-particles .bubble:nth-child(13) {
    left: 76%;
    animation: blow 5000ms infinite;
    animation-delay: 7820ms;
}

.bottom-particles .bubble:nth-child(14) {
    left: 23%;
    animation: blow 12508ms infinite;
    animation-delay: 10340ms;
}

.bottom-particles .bubble:nth-child(15) {
    left: 82%;
    animation: blow 5000ms infinite;
    animation-delay: 3433ms;
}

.bottom-particles .bubble:nth-child(16) {
    left: 96%;
    animation: blow 5000ms infinite;
    animation-delay: 11783ms;
}

.bottom-particles .bubble:nth-child(17) {
    left: 74%;
    animation: blow 5000ms infinite;
    animation-delay: 3580ms;
}

.bottom-particles .bubble:nth-child(18) {
    left: 18%;
    animation: blow 13350ms infinite;
    animation-delay: 8296ms;
}

.bottom-particles .bubble:nth-child(19) {
    left: 95%;
    animation: blow 5205ms infinite;
    animation-delay: 6247ms;
}

.bottom-particles .bubble:nth-child(20) {
    left: 51%;
    animation: blow 14031ms infinite;
    animation-delay: 10222ms;
}

.bottom-particles .bubble:nth-child(21) {
    left: 97%;
    animation: blow 5000ms infinite;
    animation-delay: 7363ms;
}

.bottom-particles .bubble:nth-child(22) {
    left: 21%;
    animation: blow 10737ms infinite;
    animation-delay: 1134ms;
}

.bottom-particles .bubble:nth-child(23) {
    left: 72%;
    animation: blow 14887ms infinite;
    animation-delay: 4342ms;
}

.bottom-particles .bubble:nth-child(24) {
    left: 86%;
    animation: blow 5689ms infinite;
    animation-delay: 8598ms;
}

.bottom-particles .bubble:nth-child(25) {
    left: 39%;
    animation: blow 5918ms infinite;
    animation-delay: 8316ms;
}

.bottom-particles .bubble:nth-child(26) {
    left: 34%;
    animation: blow 9508ms infinite;
    animation-delay: 9354ms;
}

.bottom-particles .bubble:nth-child(27) {
    left: 42%;
    animation: blow 5000ms infinite;
    animation-delay: 5557ms;
}

.bottom-particles .bubble:nth-child(28) {
    left: 7%;
    animation: blow 9136ms infinite;
    animation-delay: 2907ms;
}

.bottom-particles .bubble:nth-child(29) {
    left: 53%;
    animation: blow 5000ms infinite;
    animation-delay: 1023ms;
}

.bottom-particles .bubble:nth-child(30) {
    left: 96%;
    animation: blow 8009ms infinite;
    animation-delay: 9892ms;
}

.bottom-particles .bubble:nth-child(31) {
    left: 75%;
    animation: blow 5000ms infinite;
    animation-delay: 9013ms;
}

.bottom-particles .bubble:nth-child(32) {
    left: 40%;
    animation: blow 5000ms infinite;
    animation-delay: 3531ms;
}

.bottom-particles .bubble:nth-child(33) {
    left: 58%;
    animation: blow 5000ms infinite;
    animation-delay: 6707ms;
}

.bottom-particles .bubble:nth-child(34) {
    left: 4%;
    animation: blow 5000ms infinite;
    animation-delay: 3079ms;
}

.bottom-particles .bubble:nth-child(35) {
    left: 26%;
    animation: blow 14163ms infinite;
    animation-delay: 4346ms;
}

.bottom-particles .bubble:nth-child(36) {
    left: 93%;
    animation: blow 6608ms infinite;
    animation-delay: 3482ms;
}

.bottom-particles .bubble:nth-child(37) {
    left: 50%;
    animation: blow 9647ms infinite;
    animation-delay: 10132ms;
}

.bottom-particles .bubble:nth-child(38) {
    left: 42%;
    animation: blow 8045ms infinite;
    animation-delay: 93ms;
}

.bottom-particles .bubble:nth-child(39) {
    left: 29%;
    animation: blow 6505ms infinite;
    animation-delay: 6037ms;
}

.bottom-particles .bubble:nth-child(40) {
    left: 23%;
    animation: blow 5689ms infinite;
    animation-delay: 1642ms;
}
html {
    height: 100%;
    background: #da5900;
    background: radial-gradient(circle, #fbb600, #da5900);
    overflow: hidden;
}

body {
    background: transparent;
}
@keyframes blow {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(0, -100vh) scale(0.2);
    }
}


@media (max-width: 992px)
{
    .container{
        padding: 28px 50px;     
    }
    .container::before{
        display: none;     
    }
    header{
        padding: 0px;
    }
    .icons .controls li {
        filter: invert(1);
    }
    .content .bannerText h2 {
        font-size: 30px;
    }
    .content .bannerText p {
        font-size: 20px;
        padding-right: 350px;
    }
    .content{
        margin-top: 0;
        flex-direction: column-reverse;
    }
    .content .bannerImg{
        width: 100%;
        height: 40vh;
        margin: 20px 0;
    }
    .content .bannerText{
        max-width: 100%;
        
    }
    header ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 99;
        padding: 100px 0; 
    }
    header.active ul{
        display: initial;
    }
    header ul li{
        padding: 20px;
        text-align: center;

    }
    header ul li a{
        color: #333 !important;
        font-size: 36px;
    }
    header ul li a:hover:before,
    header ul li a.active:before{
    width: 100%;
    }
    .menuIcon{
        display: initial;
        position: fixed;
        right: 50px;
        cursor: pointer;
        padding: 8px;
        padding-top: 2px;
        z-index: 100;
        background: transparent url(Assets/icons/menu.png);
        width: 60px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: 6px;
        top: 25px;
        filter: invert(1);
    }
    header.active .menuIcon{
        background: #fff url(Assets/icons/cancel.png);
        background-repeat: no-repeat;
        background-position: 6px; 
    }
}
@media (max-width: 767px){
    .container{
     padding: 20px 30px;   
    }
    .menuIcon{
        right: 30px;
    }
    .icons .controls li img{
        max-width: 40px;
    }
}